Copyright &copy;
<script type='text/javascript'>
    document.write(new Date().getFullYear());
</script>
-
Feito com <i class="ph-heart-fill heart"></i> por&nbsp;
<a href="https://github.com/Deyzy" target="_blank">Deise Silva</a> <i class="ph-circle-fill circle"></i>
<a href="https://github.com/Ias4g" target="_blank">Izael Silva</a> <i class="ph-circle-fill circle"></i>
<a href="/" target="_blank">Josué Melo</a> <i class="ph-circle-fill circle"></i>
<a href="https://github.com/LucasIshi" target="_blank">Lucas Ishizawa</a> <i class="ph-circle-fill circle"></i>
<a href="https://github.com/Warlley2022" target="_blank">Warlley Sousa</a>