#page-ideas #container{
    display: block;
}

#page-ideas header{
    display: flex;
    justify-content: space-between;
}

#page-ideas header img{
    width: 100%;
}

#page-ideas nav{
    display: flex;
    align-items: center;
}

#page-ideas nav li{
    list-style: none;
    margin-right: 15px;
}

#page-ideas nav li a{
    color: #25282b;
}

#page-ideas nav li:last-child:hover{
    background-color: #0984e3;
    cursor: pointer;
}

#page-ideas nav li:last-child{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
}

section#title{
    text-align: center;
}

section#title p{
    opacity: 0.6;
    margin: 0;
}

section#title h1{
    margin: 0;
    font-size: 28px;
}

section#ideas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section#ideas .idea{
    margin: 0;
}

section#title,
section#ideas,
footer{
    margin-top: 64px;
}