body.hideScroll{
    overflow: hidden;
}

#modal.addScroll{
    overflow: auto;
}

#modal{
    background: #ff5e84;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 800ms;
}

#modal .content{
    margin-top: 0;
    color: #fff;
}

#modal .content h1{
    text-align: center;
    text-transform: uppercase;
}

#modal form{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

/* .input-wrapper{
    margin: 16px 0;
} */

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5){
    grid-column: span 2;
}

form input, form textarea{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid rgba(141, 25, 52, 0.5);
    outline: none;
    font-size: 12px;
}

form textarea{
    resize: vertical;
}

form label{
    font-size: 12px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form a{
    background-color: #ffffff22;
    color: #fff;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    border-radius: 6px;
    align-self: end;
    transition: 400ms;
}

form a:hover{
    background-color: #fff;
    color: #ff5e84;
    text-decoration: none;
}

form button{
    background: #fff;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 32px;
    grid-column: 2;
    justify-self: end;
    transition: 400ms;
}

form button:hover{
    background-color: #0984e3;
    color: #fff;
    text-decoration: none;
}

#modal.hide{
    opacity: 0;
    visibility: hidden;
}