/* Estilos globais */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap");

:root {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    color: #25282b;
    font-size: 1.6rem;
    background: #e5e5e5;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

a {
    color: #ff5e84;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p,
.description {
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.01rem;
}

.button {
    color: #fff;
    background: #ff5e84;
    border-radius: 0.8rem;
    padding: 1rem 2rem;
    /* width: 15rem;
    height: 4rem; */
    box-shadow: #ff5e8432;
    font-size: 1.2rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
}

#mobile {
    display: none;
}

.button:hover {
    background-color: #0984e3;
    text-decoration: none;
}

/* Estilos padrões */

#container {
    width: 92rem;
    max-width: 92rem;
    margin: 0 auto;
    padding: 3rem 1rem;
    display: flex;
}

#intro {
    max-width: 30rem;
    margin-right: 2.5rem;
    /* border: 1px solid #333; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    /* background-color: #0984e3; */
}

#intro header a img {
    width: 20.8rem;
}

#last-ideias {
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color: #e3a909; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sem-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0rem;
    padding: 0rem;
    text-align: center;
}

.sem-registro img {
    width: 12.8rem;
    opacity: 0.1;
}

main {
    margin: 3.5rem 0;
}

#buttons {
    display: flex;
    /* margin-bottom: 35px; */
    justify-content: space-evenly;
}

button {
    background: none;
    color: #ff5e84;
    border: none;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 0.02rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

button:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0.02rem;
    color: #777;
    position: fixed;
    background: #e5e5e5;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2rem;
}

footer a {
    opacity: 0.7;
}

.idea {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0rem 0.4rem 1.6rem -0.8rem rgba(1, 1, 1, 0.1);
    padding: 2rem;
    border-radius: 0.8rem;
}

.idea:first-child {
    margin-bottom: 3.5rem;
}

.idea img {
    width: 4.2rem;
    height: 4.2rem;
    margin-right: 3.5rem;
    border-radius: 0.4rem;
}

.idea h3 {
    margin: 0;
}

.idea p {
    margin: 0;
    color: #777;
}

.idea a {
    font-size: 1.2rem;
}

.idea .description {
    margin: 1.6rem 0;
}

.idea p.ideas-footer {
    font-size: 1rem;
}

#ideas-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ################################################################################# */

@media (max-width: 768px) {
    body {
        padding: 0;
        margin: 0;
    }

    #container {
        width: 100%;
        margin-bottom: 6rem;
        /* padding: 2rem; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* background-color: aqua; */
    }

    #intro {
        max-width: 100%;
        margin: 0 0 6.5rem 0;

        /* border: 1px solid #333; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* background-color: #0984e3; */
    }

    #intro main p {
        text-align: center;
    }

    #desktop {
        display: none;
    }
}
