/* Estilos globais */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap");

:root {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    margin: 1rem;
    color: #25282b;
    font-size: 1.6rem;
    background: #e5e5e5;
    font-family: "Montserrat", sans-serif;
}

a {
    color: #ff5e84;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p,
.description {
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.01rem;
}

.button {
    color: #fff;
    background: #ff5e84;
    border-radius: 0.8rem;
    width: 15rem;
    height: 4rem;
    box-shadow: #ff5e8432;
    font-size: 1.2rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #0984e3;
    text-decoration: none;
}

/* Estilos padrões */

#container {
    max-width: 92rem;
    margin: 5rem auto;
    display: flex;
    flex: 1;
}

#intro {
    max-width: 30rem;
    margin-right: 2.5rem;
    /* border: 1px solid #333; */
    /* background-color: #0984e3; */
}

#intro header a img {
    width: 20.8rem;
}

#last-ideias {
    width: 100%;
    margin: 0;
    padding: 0;
}

.sem-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0rem;
    padding: 0rem;
    text-align: center;
}

.sem-registro img {
    width: 12.8rem;
    opacity: 0.1;
}

main {
    margin: 3.5rem 0;
}

#buttons {
    display: flex;
    /* margin-bottom: 35px; */
    justify-content: space-evenly;
}

button {
    background: none;
    color: #ff5e84;
    border: none;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 0.02rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

button:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0.02rem;
    color: #777;
    /* background-color: #0984e3; */
}

footer a {
    opacity: 0.7;
}

.idea {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0rem 0.4rem 1.6rem -0.8rem rgba(1, 1, 1, 0.1);
    margin-bottom: 3.5rem;
    padding: 2rem;
    border-radius: 0.8rem;
    word-wrap: break-word;
}

.idea img {
    width: 4.2rem;
    height: 4.2rem;
    margin-right: 3.5rem;
}

.idea h3 {
    margin: 0;
}

.idea p {
    margin: 0;
    color: #777;
}

.idea a {
    font-size: 1.2rem;
}

.idea .description {
    margin: 1.6rem 0;
}

.idea p.ideas-footer {
    font-size: 1rem;
}

#ideas-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
