<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./images/Favicon.svg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <title>Ideias Saudáveis | Trabalho de conclusão do primeiro semestre de ciência da computação.</title>
    {% endblock title %}

    {% include "head.html" %}
</head>

<body id="{{ bodyId }}">

    <div id="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        {% include "footer.html" %}
    </footer>

    <!-- Modal -->
    {% include "modal.html" %}

    <script src="./script.js"></script>
    <script src="https://unpkg.com/phosphor-icons"></script>
</body>

</html>